.navHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border: solid black 0px;
  border-bottom-width: 1px;
}

.navHeader .storeName {
  font-size: 3.5rem;
  color: #646cff;
  font-weight: 700;
}

.navHeader .subName {
  font-size: 0.6rem;
  text-align: center;
  margin-top: -5px;
}

.navHeader header {
  margin-left: 25px;
}

.navHeader nav {
  flex: 1 1 auto;
  max-width: 200px;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: 700;
}

.navHeader a {
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color 0.25s;
  padding: 5px;
}

.navHeader a:visited {
  color: inherit;
}

.navHeader a:hover {
  border-color: #646cff;
}
