.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px 10px;
}

.home h1 {
  font-size: 5em;
  line-height: 1.1;
}

.home h2 {
  font-size: 3.5rem;
}

.home span {
    font-size: 1.5em;
  color: #646cff;
}

.home p {
  font-size: 0.6rem;
}

.home .checkItems{
    font-size: 1.5rem;
    text-align: right;
}

.home a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  margin-left: -5px;
  font-weight: 700;

  cursor: pointer;
  transition: border-color 0.25s;
}

.home a:hover {
  border-color: #646cff;
}
