.home {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0px 10px;
}

.home h1 {
  margin: auto;
  font-size: 5em;
  line-height: 1.1;
}

.home h2 {
  margin: auto;
  font-size: 3.5rem;
}

.home span {
  font-size: 1.5em;
  color: #646cff;
}

.home p {
  font-size: 0.6rem;
}

.home .checkItems {
  font-size: 1.5rem;
  text-align: right;
}

.home a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  margin-left: -5px;
  font-weight: 700;

  cursor: pointer;
  transition: border-color 0.25s;
}

.home a:hover {
  border-color: #646cff;
}

.home .clipPath {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle,
    rgba(15, 15, 15, 1) 0%,
    rgba(29, 29, 29, 1) 50%,
    rgb(36, 36, 36, 1) 75%
  );
  height: 100%;
  width: 100%;
  clip-path: polygon(
    0 0,
    25% 50%,
    50% 0,
    65% 50%,
    80% 16%,
    90% 50%,
    95% 70%,
    80% 50%,
    65% 85%,
    50% 50%,
    25% 100%
  );
}
