.shopList {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopList .shopPitch{
    margin: 0;
    font-size: 2rem;
}

.shopList a{
    font-size: 0.8rem;
}

.shopList ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 45px;
    padding: 0;
    margin: 15px 0 0 0;
}

.shopList .clipPath {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(
      circle,
      rgba(15, 15, 15, 1) 0%,
      rgba(29, 29, 29, 1) 50%,
      rgb(36, 36, 36, 1) 75%
    );
    height: 100%;
    width: 100%;
    clip-path: polygon(
      0 0,
      25% 50%,
      50% 0,
      65% 50%,
      80% 16%,
      90% 50%,
      95% 70%,
      80% 50%,
      65% 85%,
      50% 50%,
      25% 100%
    );
  }