.cart {
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

.cart .cartIcon {
  width: 55px;
  filter: invert();
}
.cart .cartNotification {
  position: absolute;
  top: 5px;
  left: 20px;
  z-index: 1;
  background-color: #646cff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
}
