body {
  margin: 0px;
  padding: 0px;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;  
}

#root {
  min-width: 320px;
  min-height: 100vh;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
